<!-- main - a row holds columns -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="_id">ID</label>
      <input type="number" class="form-control" id="_id" name="_id" value="<%= user._id %>" required>
    </div>

    <div class="form-group">
      <label for="useraccountid">User account ID</label>
      <input type="number" class="form-control" id="useraccountid" name="useraccountid" value="<%= user.useraccountid %>" required>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" required>
    </div>

    <div class="form-group">
      <label for="city">City </label>
      <input type="text" class="form-control" id="city" name="city" value="<%= user.city %>" required>
    </div>

    <div class="form-group">
      <label for="state">State </label>
      <input type="text" class="form-control" id="state" name="state" value="<%= user.state %>" required>
    </div>

    <div class="form-group">
      <label for="zipcode">zip </label>
      <input type="zipcode" class="form-control" id="zipcode" name="zipcode" value="<%= user.zipcode %>" required>
    </div>

  </div>
</div>